.front-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9eef7;
}
.front-box{
  
  width: 600px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.college-logo {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.college-name {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px; 
}

.project-title {
  font-size: 25px;
  font-weight: bold;
   margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.student-btn {
  background-color: #007bff;
}

.student-btn:hover {
  background-color: #006ae0;
}

.teacher-btn {
  background-color: #28a745;
}

.teacher-btn:hover {
  background-color: #1e8a37;
}
