/* MAIN LAYOUT */
.attempt-exam-layout {
  display: flex;
  gap: 25px;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  height: 600px;
}

/* LEFT PANEL */
.attempt-exam-page {
  flex: 3;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* RIGHT PANEL */
.exam-status-panel {
  flex: 1;
  background: #f9fafc;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.exam-status-panel h3 {
  margin-bottom: 15px;
}

/* STATUS BOXES */
.status {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.status.attempted {
  background: #e8f5e9;
  color: #1b5e20;
}

.status.unattempted {
  background: #ffebee;
  color: #b71c1c;
}

.status.total {
  background: #e3f2fd;
  color: #0d47a1;
}

/* QUESTION */
.question-box {
  background: #f5f7fa;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  height: 300px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

/* NAV BUTTONS */
.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-left {
  display: flex;
  gap: 10px;
}

.prev-btn,
.next-btn,
.submit-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-btn {
  background: #e0e0e0;
}

.next-btn {
  background: #1976d2;
  color: #fff;
}

.submit-btn {
  background: #2e7d32;
  color: #fff;
}

/* PALETTE */
.palette-section {
  margin-top: 30px;
}

.palette-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.question-palette {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.palette-box {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.palette-box.attempted {
  background: #4caf50;
  color: white;
}

.palette-box.not-attempted {
  background: #f2f2f2;
}

.palette-box.active {
  border: 2px solid #1976d2;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .attempt-exam-layout {
    flex-direction: column;
  }
}